 
.hero-container{
    background-image:url(/src/images/felix-lam-J7fxkhtOqt0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
 
}


  
